@import url('CSS/reset.css');
@import url('CSS/layout.css');
@import url('CSS/typography.css');
@import url('CSS/masthead.css');

.menu-section {
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #dcdde1;
}

.menu li a {
    text-decoration: none;
    color: #353b48;
    padding: .6em 1em;
    display: block;
    transition: all 5s ease;
}

.menu li a:hover {
    background-color: #f5f6fa;
}

.menu-heading {
    font-size:  2em;
    font-weight: normal;
}

@media screen and (min-width: 600px) {
    .single-nav ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    .single-nav ul li {
        flex: 1 0 auto;
    }
}