body,
button,
input,
textarea {
  color: black;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

body {
  background-color: #ededed;
  margin: 0;
}

header,
footer {
  background-color: black;
  height: 100px;
}

.sidebar-right {
  background-color: blue;
  color: white;
}

h1 {
  color: red;
  margin: 0;
}

p {
  margin: 0;
}

@media screen and (min-width: 1120px) {
  .content-area {
    display: flex;
  }

  .sidebar-right {
    flex: 0 0 320px;
  }
}

/* Header style */
.site-header {
  height: 400px;
  display: flex;
  flex-flow: column;
}

.site-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.site-title {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.site-description {
  text-align: center;
  color: #f6d200;
  font-size: 1.2em;
  margin-top: -0.8;
  font-style: italic;
}

.main-menu {
  padding: 1em 1em;
  color: black;
  background-color: #f6d200;
}

@media screen and (min-width: 1120px) {
  .site-title {
    font-size: 4em;
  }
}
